.terpsichorean-text {
  display: inline-block;
  transform: rotate(-5deg);
  transition: transform 0.5s;
}
.terpsichorean-text:hover {
  transform: rotate(0deg);
  transition: transform 0.5s;
}
#projects {
  transform: rotate(-5deg);
  color: white;
}

#animeGifContainer {
  backdrop-filter: blur(7px) saturate(180%);
  -webkit-backdrop-filter: blur(7px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.57);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.loader {
  border: 4px solid #f3f3f3; /* Light gray */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  /* Always show hover content on mobile */
  #project-cards .group .relative .group-hover\:absolute {
    position: relative !important;
    opacity: 1 !important;
  }

  #project-cards .group .relative .group-hover\:opacity-0 {
    opacity: 0 !important;
  }

  /* Disable transform effect for mobile */
  #project-cards .group .relative {
    transform: none !important;
  }

  /* Adjust padding and layout for better mobile spacing */
  #project-cards .group .relative .p-6 {
    position: relative;
    opacity: 1 !important;
  }
}
body {
  overflow: visible;
  cursor: none;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for webkit-based browsers */
}
section,
div {
  overflow: visible;
}

/* custom cursor */

.c-cursor {
  display: none;
}

@media (any-pointer: fine) {
  .c-cursor {
    display: block;
  }

  .c-cursor__inner {
    z-index: 9999;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    border-radius: 50%;
  }

  .c-cursor__side {
    position: absolute;
    top: 50%;
    width: 5px;
    height: 1px;
    background: #fff;
    opacity: 0;
  }

  .c-cursor__side--left {
    right: calc(100% + 5px);
  }

  .c-cursor__side--right {
    left: calc(100% + 5px);
  }

  .c-cursor__inner--circle {
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
  }
  a:hover {
    cursor: none; /* Completely hide default pointer on links */
  }
}

#cursor-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

/* Hide the cursor gradient on mobile screens */
@media (max-width: 768px) {
  #cursor-gradient {
    display: none;
  }
}
