<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
    <link rel="manifest" href="/static/site.webmanifest" />
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Primary Meta Tags -->
    <title>Alwen | Portfolio</title>
    <meta name="title" content="Alwen | Portfolio" />
    <meta name="description" content="Backend Dev, Tech enthusiast, and a Dancer." />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://alwen.pythonanywhere.com/" />
    <meta property="og:title" content="Alwen | Portfolio" />
    <meta property="og:description" content="Backend Dev, Tech enthusiast, and a Dancer." />
    <meta property="og:image" content="https://alwen.pythonanywhere.com/static/avatar.jpeg?v=1" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://alwen.pythonanywhere.com/" />
    <meta property="twitter:title" content="Alwen | Portfolio" />
    <meta property="twitter:description" content="Backend Dev, Tech enthusiast, and a Dancer." />
    <meta property="twitter:image" content="https://alwen.pythonanywhere.com/static/avatar.jpeg?v=1" />

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/89bfe51923.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />

    <title>Arvind Srivastav - Portfolio</title>
  </head>
  <body class="bg-black text-gray-200 font-sans">
    <!-- Header -->
    <header class="bg-gray-900 shadow-lg sticky bottom-0 z-50">
      <div class="max-w-6xl mx-auto flex flex-col md:flex-row justify-between items-center p-4">
        <p class="text-gray-500">© 2024 Made with 🩵 by Arvind(alwen)</p>
        <nav class="flex flex-wrap space-x-4 mt-2 md:mt-0">
          <a href="mailto:alwen1928@gmail.com" class="text-gray-300 hover:text-blue-300 transform hover:scale-110 transition-all duration-300"><i class="fas fa-envelope"></i></a>
          <a href="https://www.linkedin.com/in/alwenpy/" target="_blank" class="text-gray-300 hover:text-blue-300 transform hover:scale-110 transition-all duration-300"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/alwenpy" target="_blank" class="text-gray-300 hover:text-blue-300 transform hover:scale-110 transition-all duration-300"><i class="fab fa-github"></i></a>
          <a href="https://www.instagram.com/oyealwen/" target="_blank" class="text-gray-300 hover:text-blue-300 transform hover:scale-110 transition-all duration-300"><i class="fab fa-instagram"></i></a>
        </nav>
      </div>
    </header>

    <!-- Floating Button -->
    <div id="scrollToFooter" class="fixed transition bottom-24 left-1/2 transform -translate-x-1/2 bg-gradient-to-r from-blue-500 to-blue-700 text-white px-4 py-2 rounded-full shadow-lg hover:from-blue-600 hover:to-blue-800 z-50 hidden lg:block">
      <a href="#footer">
        <span class="mr-2">↓</span>
        <span>looking for header?</span>
      </a>
    </div>
    <div class="max-w-6xl mx-auto p-6">
      <section class="bg-center bg-no-repeat bg-blend-multiply h-screen flex items-center justify-center mb-8">
        <div class="px-4 mx-auto max-w-screen-xl text-center py-12 lg:py-24">
          <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
            <a href="https://www.google.com/search?q=Terpsichorean+meaning" target="_blank" rel="noopener noreferrer" class="relative group text-blue-500 terpsichorean-text no-underline hover:no-underline">
              Terpsichorean
              <span class="absolute mb-4 invisible tracking-wider group-hover:visible opacity-0 group-hover:opacity-100 w-max bottom-12 left-1/2 transform -translate-x-1/2 bg-gray-800 text-white text-sm rounded-lg py-3 px-4 shadow-lg transition-all duration-300 ease-[cubic-bezier(0.34, 1.56, 0.64, 1)]">Inspired by the muse of dance.</span>
            </a>
            Backend Developer
          </h1>
          <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">A Backend Architect fueled by Python’s power and the artistry of dance.</p>
        </div>
      </section>

      <!-- About Section -->
      <section id="about" class="mb-16">
        <div class="flex items-center justify-between">
          <h2 class="text-3xl font-semibold bg-gradient-to-r from-blue-500 to-blue-700 text-white px-3 py-2 rounded-lg shadow-lg">About</h2>
        </div>
        <div class="text-gray-400 mt-4">
          Hi, I'm Arvind, a graduate from
          <span class="text-blue-500">University of Lucknow</span> & a
          <span class="text-blue-500">Backend developer</span> that loves to play with the tech around. I like Python (and stuff related to it). My journey in <span class="text-blue-500">backend development</span> has majorly been in <span class="text-blue-500">API development</span>. Since I'm an explorer, I've tried my hands on tech such as Django, FastAPI, Flask, AI/ML, Web Scraping, Next.js, Vue.js, Laravel, a bit of Flutter, Firebase, AWS (major services), Redis, Kafka, Postman, tried learning Go too, and wish to add more to the list — pretty versatile, right? Also, I hate Windows!! Linux FTW. I prefer
          <span class="text-blue-500">Ubuntu.</span><br /><br />

          Well, I'm a <span class="text-blue-500">dancer</span> too, and was the coordinator of the dance club at my University. Dance is one of those things that has a special place in my life. Apart from this, I like
          <span class="text-blue-500">clicking pictures</span> and
          <span class="text-blue-500">editing videos</span>.
        </div>
      </section>
      <section id="education" class="mb-16">
        <!-- Section Title -->
        <div class="flex items-center justify-between mb-6">
          <h2 class="text-3xl font-semibold bg-gradient-to-r from-blue-500 to-blue-700 text-white px-3 py-2 rounded-lg shadow-lg">Education</h2>
        </div>
        <!-- Cards Container -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
          <!-- Card 1: B.Tech -->
          <div class="bg-gradient-to-r from-gray-800 via-gray-900 to-black p-6 rounded-lg shadow-md transform hover:scale-105 transition duration-300">
            <h3 class="text-xl font-semibold text-blue-400 mb-4">Bachelor of Technology</h3>
            <p class="text-lg text-gray-300 mb-2">CSE</p>
            <p class="text-lg font-semibold text-gray-400 mb-2">Faculty of Engineering and Technology</p>
            <p class="text-xl font-bold text-white mb-2">University of Lucknow</p>
            <p class="text-lg font-medium text-gray-300">2020 - 2024</p>
            <p class="text-lg font-medium text-gray-300">8.36 CGPA</p>
          </div>
          <!-- Card 2: 12th -->
          <div class="bg-gradient-to-r from-gray-800 via-gray-900 to-black p-6 rounded-lg shadow-md transform hover:scale-105 transition duration-300">
            <h3 class="text-xl font-semibold text-blue-400 mb-4">12th Grade</h3>
            <p class="text-lg text-gray-300 mb-2">Stella Maris Convent School</p>
            <p class="text-lg font-medium text-gray-300 mb-2">2019</p>
            <p class="text-lg font-medium text-gray-300">91.4%</p>
          </div>
          <!-- Card 3: 10th -->
          <div class="bg-gradient-to-r from-gray-800 via-gray-900 to-black p-6 rounded-lg shadow-md transform hover:scale-105 transition duration-300">
            <h3 class="text-xl font-semibold text-blue-400 mb-4">10th Grade</h3>
            <p class="text-lg text-gray-300 mb-2">Stella Maris Convent School</p>
            <p class="text-lg font-medium text-gray-300 mb-2">2017</p>
            <p class="text-lg font-medium text-gray-300">9.8 CGPA</p>
          </div>
        </div>
      </section>
      <div class="flex items-center justify-center min-h-[40vh]" id="surprise">
        <button class="w-72 h-20 bg-gradient-to-r from-pink-500 to-purple-500 text-white font-bold text-2xl flex items-center justify-center rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">Surprise Me!!</button>
      </div>

      <section id="anime" class="mb-16 hidden">
        <div class="flex items-center justify-between mb-6">
          <h2 class="text-3xl font-semibold bg-gradient-to-r from-purple-500 to-purple-700 text-white px-3 py-2 rounded-lg shadow-lg">Anime Machine</h2>
          <button id="generateAnimeBtn" class="bg-gradient-to-r from-pink-500 to-purple-500 text-white px-4 py-2 rounded-lg shadow-md hover:scale-105 transform transition duration-300">Generate</button>
        </div>
        <div id="animeGifContainer" class="bg-gradient-to-r from-gray-800 via-gray-900 to-black p-6 rounded-lg shadow-md flex justify-center items-center min-h-[300px]"></div>
      </section>

      <section id="work" class="mb-16">
        <div id="education-section" class="flex items-center justify-between">
          <h2 class="text-3xl font-semibold bg-gradient-to-r from-blue-500 to-blue-700 text-white px-3 py-2 rounded-lg shadow-lg">Work Experience</h2>
        </div>
        <ol class="relative border-l border-gray-200 dark:border-gray-700 pt-8">
          <!-- Tech BRJ -->
          <li class="mb-10 ml-6">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
              <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
              </svg>
            </span>
            <h3 class="mb-1 text-xl font-semibold text-gray-900 dark:text-white">Tech BRJ - Backend Developer</h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Sep 2024 - Present</time>
            <ul class="text-base font-normal text-gray-500 dark:text-gray-400">
              <li>Responsible for developing scalable APIs using Django and Django Rest Framework to support company applications.</li>
              <li>Optimizing backend services to enhance performance and scalability of internal systems.</li>
              <li>Leveraging AWS for storage, PythonAnywhere for hosting, and secure deployment, ensuring reliable and scalable services.</li>
            </ul>
          </li>

          <!-- ETHNO -->
          <li class="mb-10 ml-6">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
              <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
              </svg>
            </span>
            <h3 class="mb-1 text-xl font-semibold text-gray-900 dark:text-white">ETHNO - Backend Developer</h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Sep 2023 - Nov 2023</time>
            <ul class="text-base font-normal text-gray-500 dark:text-gray-400">
              <li>Developed the backend of an e-commerce website using Django, implementing core features like login/signup, add-to-cart, and wish listing.</li>
              <li>Integrated a machine learning model for product recommendations using Python libraries such as Seaborn, pandas, and Matplotlib to enhance user experience.</li>
            </ul>
          </li>

          <!-- MAXX CAPITAL -->
          <li class="ml-6">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
              <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
              </svg>
            </span>
            <h3 class="mb-1 text-xl font-semibold text-gray-900 dark:text-white">MAXX CAPITAL - Software Developer</h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Jan 2024 - May 2024</time>
            <ul class="text-base font-normal text-gray-500 dark:text-gray-400">
              <li>Developed the website using NextJS with Firebase for authentication, storage, and database management, and integrated ID verification via the Surepass API.</li>
              <li>Built an admin panel using Material UI, allowing CRUD operations for properties, forms, and users and analytics for monitoring site usage.</li>
            </ul>
          </li>
        </ol>
      </section>
      <!-- Skills Section -->
      <section id="skills" class="mb-16">
        <!-- Section Title -->
        <div class="flex items-center justify-between mb-6">
          <h2 class="text-3xl font-semibold bg-gradient-to-r from-blue-500 to-blue-700 text-white px-3 py-2 rounded-lg shadow-lg">Skills</h2>
        </div>
        <!-- Cards Container -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <!-- Left Card -->
          <div class="bg-gradient-to-b from-gray-800 via-gray-900 to-black p-6 rounded-lg shadow-md text-gray-300">
            <h3 class="text-xl font-semibold text-blue-400 mb-4">Languages and Frameworks</h3>
            <p class="mb-4">Python, Django, Flask,FAST API, JavaScript, Next.js, Linux Shell</p>
            <h3 class="text-xl font-semibold text-blue-400 mb-4">Data Science</h3>
            <p>Numpy, Pandas, Matplotlib</p>
          </div>
          <!-- Right Card -->
          <div class="bg-gradient-to-b from-gray-800 via-gray-900 to-black p-6 rounded-lg shadow-md text-gray-300">
            <h3 class="text-xl font-semibold text-blue-400 mb-4">Tools</h3>
            <p class="mb-4">Postman, Firebase, RESTful API, Git/GitHub, Beautiful Soup, Apache Kafka, Redis, Django Rest Framework</p>
            <h3 class="text-xl font-semibold text-blue-400 mb-4">AWS Services</h3>
            <p>EC2, RDS, S3, IAM, VPC</p>
          </div>
        </div>
      </section>

      <!-- Contact Section -->
      <section id="contact" class="mb-16">
        <div class="flex items-center justify-between">
          <h2 class="text-3xl font-semibold bg-gradient-to-r from-blue-500 to-blue-700 text-white px-3 py-2 rounded-lg shadow-lg">Contact Me!</h2>
        </div>
        <p class="text-gray-400 pt-8">
          Want to chat? Drop me a line via email at
          <a href="mailto:alwen1928@gmail.com" class="text-blue-400 hover:underline">alwen1928@gmail.com</a>
          , or hit me up on
          <a href="https://www.linkedin.com/in/alwenpy" class="text-blue-400 hover:underline" target="_blank" rel="noopener noreferrer">LinkedIn</a>
          or slide into my DMs on
          <a href="https://www.instagram.com/oyealwen" class="text-blue-400 hover:underline" target="_blank" rel="noopener noreferrer">Instagram</a>.
        </p>
      </section>

      <section id="playground" class="mb-16 p-6 bg-gradient-to-r from-gray-800 via-gray-900 to-black p-6 rounded-lg shadow-lg">
        <div class="flex items-center justify-between">
          <h2 class="text-3xl font-semibold bg-gradient-to-r from-blue-500 to-blue-700 text-white px-3 py-2 rounded-lg shadow-lg">Playground</h2>
        </div>

        <!-- Input Field -->
        <input id="command" class="w-full p-4 mt-4 bg-white border border-blue-300 text-gray-700 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 transition" type="text" placeholder="/* Enter your Command here! */" />

        <!-- Explanation Note -->
        <div class="flex items-start mt-2 text-sm text-gray-300 mt-4">
          <div class="mr-2">
            <i class="fas fa-info-circle text-blue-400 mr-2 fa-1x mb-2"></i>
          </div>
          <p>
            The Playground allows you to experiment with the
            <strong>JavaScript</strong> by entering commands into the input field above. Click the <strong>Cook Your Command</strong> button to see the results dynamically applied below. Here are some creative example commands to try:
          </p>
        </div>

        <!-- Example Commands List -->
        <ul class="list-disc pl-8 mt-2 text-gray-400">
          <li>
            <strong>Open the camera:</strong> Add a button to click a photo and do something weird with it. (PS: I don't save your photo).
          </li>
          <li>
            <strong>Do something weird on scroll:</strong> Add an animation or visual effect triggered by scrolling.
          </li>
          <li>
            <strong>Show me my location:</strong> Use the Geolocation API to display your current location on the screen.
          </li>
          <li>
            <strong>Convert text to audio:</strong> Convert the text "your text" into audio with a play button.
          </li>
          <li>
            <strong>Display my GitHub stats:</strong> Fetch and display your GitHub stats using the GitHub API. (Username: <code>alwenpy</code>).
          </li>
          <li>
            <strong>And the creativity can go on:</strong> Explore and try your unique ideas!
          </li>
        </ul>

        <!-- Button and Loader -->
        <div class="mt-6 flex items-center space-x-4">
          <button onclick="applyChanges()" class="bg-gradient-to-r from-blue-500 to-blue-700 text-white px-6 py-2 rounded-lg shadow-md hover:from-blue-600 hover:to-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 transition">Cook Your Command</button>
          <div id="loader" class="hidden">
            <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
              <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
            </svg>
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </section>

      <!-- Dynamic Content Section -->
      <section id="dynamic" class="text-white"></section>

      <section id="projects" class="mb-16">
        <!-- Section Title -->
        <div class="flex items-center justify-between">
          <h2 class="text-3xl font-semibold bg-gradient-to-r from-blue-500 to-blue-700 text-white px-3 py-2 rounded-lg shadow-lg mb-4">Projects</h2>
        </div>
        <!-- Cards Container -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6" id="project-cards">
          <!-- Project Card -->
          <a href="#" class="group relative block h-64 sm:h-80 lg:h-96 bg-gradient-to-b from-gray-800 via-gray-900 to-black">
            <span class="absolute inset-0 border-2 border-dashed border-gray-700 rounded-lg"></span>
            <div class="relative flex h-full transform items-end border-2 border-gray-700 rounded-lg bg-pattern text-white transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2">
              <!-- Initially Visible Content -->
              <div class="p-6 transition-opacity group-hover:absolute group-hover:opacity-0">
                <h3 class="text-xl font-bold sm:text-2xl">Educational Institute Website</h3>
              </div>
              <!-- Hover Content -->
              <div class="absolute p-6 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100">
                <h3 class="text-xl font-bold sm:text-2xl">Educational Institute Website</h3>
                <p class="mt-4 text-sm sm:text-base">This was my first project that was mentored by my cousin. It is a simple coaching institute website but I learned the basics on web development from this project. This project taught me the imortance of errors. I learned how to debug and solve errors and that too in Non-ChatGPT era.</p>
              </div>
            </div>
          </a>

          <a href="#" class="group relative block h-64 sm:h-80 lg:h-96 bg-gradient-to-b from-gray-800 via-gray-900 to-black">
            <span class="absolute inset-0 border-2 border-dashed border-gray-700 rounded-lg"></span>
            <div class="relative flex h-full transform items-end border-2 border-gray-700 rounded-lg bg-pattern text-white transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2">
              <div class="p-6 transition-opacity group-hover:absolute group-hover:opacity-0">
                <h3 class="text-xl font-bold sm:text-2xl">Vendor Management API</h3>
              </div>
              <div class="absolute p-6 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100">
                <h3 class="text-xl font-bold sm:text-2xl">Vendor Management API</h3>
                <p class="mt-4 text-sm sm:text-base">A vendor management API that allows users to manage vendors, products, and orders. Built using Django Rest Framework and deployed on AWS. Also deployed a Postgres DB on RDS for data storage.</p>
              </div>
            </div>
          </a>

          <a href="#" class="group relative block h-64 sm:h-80 lg:h-96 bg-gradient-to-b from-gray-800 via-gray-900 to-black">
            <span class="absolute inset-0 border-2 border-dashed border-gray-700 rounded-lg"></span>
            <div class="relative flex h-full transform items-end border-2 border-gray-700 rounded-lg bg-pattern text-white transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2">
              <div class="p-6 transition-opacity group-hover:absolute group-hover:opacity-0">
                <h3 class="text-xl font-bold sm:text-2xl">Real-Time Location Tracking</h3>
              </div>
              <div class="absolute p-6 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100">
                <h3 class="text-xl font-bold sm:text-2xl">Real-Time Location Tracking</h3>
                <p class="mt-4 text-sm sm:text-base">Out of curiosity to learn Kafka and to know how the location of Zomato/Swiggy/Uber drivers is tracked, I Built a real-time location tracker using Django, Kafka, and Google Maps API, visualizing updates every 5 seconds. Deployed on Railway.app and managed Kafka with Aiven for scalable streaming. I'm not good at frontend, so only console output is the UI.</p>
              </div>
            </div>
          </a>
        </div>
      </section>
    </div>

    <!-- Footer -->
    <footer id="footer" class="w-full bg-gray-900 shadow-lg top-0 z-50 hidden lg:block">
      <div class="max-w-6xl mx-auto flex flex-col md:flex-row justify-between items-center p-4">
        <!-- Name and Avatar Section -->
        <div class="flex items-center space-x-4 mb-4 md:mb-0">
          <!-- Avatar -->
          <img src="/static/avatar.jpeg" alt="Avatar" class="w-12 h-12 rounded-full shadow-md border-2 border-gray-700" />
          <!-- Name -->
          <div>
            <h1 class="text-2xl font-extrabold text-white bg-gradient-to-r from-blue-700 to-blue-900 rounded-lg px-4 py-2 tracking-wide shadow-md">Arvind Srivastav</h1>
            <p class="text-sm font-medium text-gray-400 italic">aka Alwen</p>
          </div>
        </div>
        <nav class="flex flex-wrap items-center space-x-4">
          <a href="#about" class="nav-link text-gray-300 hover:text-blue-300 transition duration-200 ease-in-out">About</a>
          <a href="#education" class="nav-link text-gray-300 hover:text-blue-300 transition duration-200 ease-in-out">Education</a>
          <a href="#work" class="nav-link text-gray-300 hover:text-blue-300 transition duration-200 ease-in-out">Work</a>
          <a href="#skills" class="nav-link text-gray-300 hover:text-blue-300 transition duration-200 ease-in-out">Skills</a>
          <a href="#contact" class="nav-link text-gray-300 hover:text-blue-300 transition duration-200 ease-in-out">Contact</a>
          <a href="https://drive.google.com/file/d/1aj4pQMjdlIfG89d3M4mgX5MDbCCbOQ84/view?usp=drive_link" download class="text-gray-300 hover:text-blue-300 transition duration-200 ease-in-out">
            Resume
            <i class="fas fa-download text-gray-300 hover:text-blue-300 transition duration-200 ease-in-out"></i>
          </a>
        </nav>
      </div>
    </footer>
    <div class="fixed bottom-6 right-6 group lg:hidden" data-dial-init>
      <div id="footer-speed-dial" class="flex flex-col items-center mb-4 space-y-3 opacity-0 scale-90 transform transition-all duration-300 ease-in-out hidden">
        <!-- Avatar -->
        <button type="button" class="w-[56px] h-[56px] bg-white rounded-full border border-gray-200 shadow-md dark:border-gray-600 hover:shadow-lg" onclick="scrollToSection('#avatar')"><img src="/static/avatar.jpeg" alt="Avatar" class="w-full h-full rounded-full" /></button>
        <!-- About -->
        <button type="button" class="w-[56px] h-[56px] bg-white rounded-full border border-gray-200 shadow-md dark:border-gray-600 hover:shadow-lg" onclick="scrollToSection('#about')"><i class="fas fa-user text-blue-700"></i></button>
        <!-- Education -->
        <button type="button" class="w-[56px] h-[56px] bg-white rounded-full border border-gray-200 shadow-md dark:border-gray-600 hover:shadow-lg" onclick="scrollToSection('#education')"><i class="fas fa-graduation-cap text-blue-700"></i></button>
        <!-- Work -->
        <button type="button" class="w-[56px] h-[56px] bg-white rounded-full border border-gray-200 shadow-md dark:border-gray-600 hover:shadow-lg" onclick="scrollToSection('#work')"><i class="fas fa-briefcase text-blue-700"></i></button>
        <!-- Skills -->
        <button type="button" class="w-[56px] h-[56px] bg-white rounded-full border border-gray-200 shadow-md dark:border-gray-600 hover:shadow-lg" onclick="scrollToSection('#skills')"><i class="fas fa-tools text-blue-700"></i></button>
        <!-- Contact -->
        <button type="button" class="w-[56px] h-[56px] bg-white rounded-full border border-gray-200 shadow-md dark:border-gray-600 hover:shadow-lg" onclick="scrollToSection('#contact')"><i class="fas fa-envelope text-blue-700"></i></button>
        <!-- Resume -->
        <a href="https://drive.google.com/file/d/1aj4pQMjdlIfG89d3M4mgX5MDbCCbOQ84/view?usp=drive_link" download class="w-[56px] h-[56px] flex items-center justify-center bg-white rounded-full border border-gray-200 shadow-md dark:border-gray-600 hover:shadow-lg" target="_blank" rel="noopener noreferrer"><i class="fas fa-file-pdf text-blue-700"></i></a>
      </div>

      <!-- Main Speed Dial Button -->
      <button type="button" id="speed-dial-toggle" class="flex items-center justify-center text-white bg-blue-700 rounded-full w-14 h-14 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 group">
        <svg class="w-6 h-6 transition-transform duration-300 group-hover:rotate-45" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
        </svg>
      </button>
    </div>

    <script src="/static/dynamic_script.js" defer></script>
    <script src="/static/scripts.js" defer></script>
  </body>
</html>
